.pagina {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: justify;
  display: grid;
  grid-template-areas:
    "menu-lateral cabecalho"
    "menu-lateral conteudo"
    "menu-lateral rodape";
}

.cabecalho {
  grid-area: cabecalho;
}

.menu-lateral {
  grid-area: menu-lateral;
  width: 200px;
}

.conteudo {
  grid-area: conteudo;
}

.rodape {
  grid-area: rodape;
}

.cabecalho img {
  /*justify-self: stretch;*/
  width: 200px;
  display: block;
  margin: auto;
}

.infos-load-balance {
  width: 60%;
  margin: auto;
}

section {
  padding: 10px 10px 0;
}

#explicacao-load-balance {
  float: left;
}

.imagem-load-balance {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  border: 10px solid #d3d3d3;
  max-width: 100%;
  box-sizing: border-box;
}

#configuracao-servidor {
  clear: left;
}

@media screen and (max-width: 600px) {
  .infos-load-balance {
    width: 96%;
    margin: auto;
  }
}
